.Header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  transition: all ease 0.5s;
}
.black {
  background-color: #141414;
}
.Header-logo {
  height: 30px;
}
.Header-logo img {
  height: 100%;
}

.Header-avatar {
  height: 35px;
}

.Header-avatar img {
  height: 100%;
  border-radius: 3px;
}
