.MovieRow {
  margin-bottom: 30px;
}

.MovieRow h2 {
  margin: 0px 0px 0px 30px;
}

.MovieRow-listarea {
  overflow-x: hidden;
  padding-left: 30px;
}

.MovieRow-list {
  width: 99999px;
}
.MovieRow-movie {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.MovieRow-movie img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.3s;
}

.MovieRow-movie img:hover {
  transform: scale(1);
}

.MovieRow-before,
.MovieRow-next {
  position: absolute;
  width: 40px;
  height: 225px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.5s;
}
.MovieRow-before {
  left: 0;
}
.MovieRow-next {
  right: 0;
}

.MovieRow:hover .MovieRow-before,
.MovieRow:hover .MovieRow-next {
  opacity: 1;
}
